  {% assign dealTime = section.settings.deal_end_date | replace: '_',' ' %}  
  {% if settings.prodetail_deal_label %}
<label class="deal-lable">{{ settings.prodetail_deal_heading}}</label>
{% endif %}
  <div class="deal-clock-single lof-clock-timer-detail-single"></div>
  <script>
  //<![CDATA[
  jQuery(document).ready(function($){
    $(".lof-clock-timer-detail-single").lofCountDown({      
      TargetDate:"{{ dealTime }}",
      DisplayFormat:"<ul class='list-inline'><li class='day'><span>%%D%%</span><span>D</span></li><li class='hours'><span>%%H%%</span><span>H</span></li><li class='mins'><span>%%M%%</span><span>M</span></li><li class='seconds'><span>%%S%%</span><span>S</span></li></ul>",
      FinishMessage: "Expired"
      });
  });
  //]]>
</script>