<div class="top_bar top-bar col-xs-2 col-sm-1 hidden-md hidden-lg">  
    <div class="wrapper mobile-nav-section">
    <button type="button" class="mobile-nav-trigger" id="MobileNavTrigger">
      <span class="icon-menu" aria-hidden="true"></span>    
    </button>  
  </div>
  {% include 'mobile-nav' %}
</div>
